<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">什么是Growthhack?</h3>
  </div>
  <div class="panel-body">
    通过非传统营销手段增加网站或其他产品的运营数据的做法。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Growthhack黑板报能带给我什么?</h3>
  </div>
  <div class="panel-body">
    了解国外先进的Growthhack理念，阅读每期文章知晓Growthhack的最新资讯、有用工具、经典案例，丰富个人对企业成长的策略性思维。
  </div>
</div>
