<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">什么是Growthhack?</h3>
  </div>
  <div class="panel-body">
    GrowthHack技术是一项新兴的营销技术，在硅谷互联网公司中非常流行。它结合了互联网技术、数据分析工具、经典营销理论。因其在营销中的显著作用，在近几年备受瞩目。“低成本”、“数据精准可靠”、“见效快”，是它的主要特点。GrowthHacker在美国已经成为一个新兴的热门职业，近年开始引起国内互联网界的关注。
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Growthhack黑板报能带给你什么?</h3>
  </div>
  <div class="panel-body">
    GrowthHacker黑板报由几个充满好奇的小伙伴共同运营。每期围绕一个Growth相关主题，发布5篇翻译或原创文章。帮助读者了解最新的Growthhack理念、知识、工具，帮助读者学会使用这门“利器”。希望能和大家共同进步成长。（所以……欢迎各位勾搭我们:-D）
  </div>

</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">如何与我们取得联系？& 如何找到其他小伙伴？</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>您可以在首页底部留言板向我们提出反馈/建议（欢迎吐槽~）。</li>
      <li>也可以加入我们的微信讨论群，和其他小伙伴一起讨论。</li>
      <li>页面底部是我们微信公众账号，扫码关注可以第一时间获取我们的更新.</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">如何成为高阶玩家？</h3>
  </div>
  <div class="panel-body">
    GrowthHacker是一项关于“BusinessDevelop”的技术，同样“GrowtHack”的理念也可以被运用到个人的学习生活中，所以我们鼓励大家自己写文章发表到交流群中，共同学习交流。一起用增长的理念“Hack人生”。<br>
  </div>
</div>
