<%= simple_form_for @issue do |f| %>
<div class="form-issue">
    <%= f.input :title, input_html: {class: "form-control"}%>
    <%= f.input :description, input_html: {class: "form-control"}%>
</div>
<%= f.submit "提交", class: "btn btn-primary", data: {disable_with: "提交中..."}%>
<% end %>
