<h3 class="text-center">编辑信息</h3>

<%= simple_form_for [:account,@user] do |f| %>
  <div class="form-group">
    <%= f.input "email", input_html: { class: "form-control"} %>
    <%= f.input "introduction", input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
