<div class="pull-right">
  <%= link_to("编辑信息", edit_account_user_path, :class => "btn btn-default") %>
</div>

<table class="table table-boldered">
  <h3>个人信息</h3>
  <tr>
    <td>头像</td>
    <td><%= gravatar_tag current_user.email, :size => 80, :default => "https://tower.im/assets/default_avatars/path.jpg" %></td>
  </tr>
  <tr>
    <td>姓名</td>
    <td>#</td>
  </tr>
  <tr>
    <td>邮箱</td>
    <td> <%= @user.email %> </td>
  </tr>
  <tr>
    <td>个人简介</td>
  </tr>
  <tr>
    <td class="text_center"><%= simple_format(@user.introduction) %></td>
  </tr>
</table>
