/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require trix
 *= require font-awesome
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "mobile";


 .btn-primary {
     color: #fff;
     background-color: rgb(51, 51, 51);
     border-color: #f5deb3;
 }


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: rgba(114, 138, 59, 0.14);
}

.panel-primary {
    border-color: #333;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #333;
    border-color: #333333;
}


.panel-body {
    padding: 15px;
    background-color: rgba(215, 218, 205, 0.34);
}

a {
    color: #a94442;
    text-decoration: none;
}

.right-nav {
  padding-right:0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #333333;
}

.post-picture {
  margin: 3px 10px 0 0;
  border: 1px;
  width: 119px;
  height: 63px;
  float: left;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: green;
  border-color: green;
}

.pagination > li > a, .pagination > li > span {
  color: green;
}

.con_l {
  padding-left: 0;
}
