// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reviews_name {
  padding: 0;
  margin: 0;
  font-size :16px;
  font-family: "Hiragino Sans GB",myFirstFont,"微软雅黑","黑体";
  font-weight: bold;
}

.reviews_time {
  padding: 0 !important;
  margin: 0;
  font-size :12px;
  font-family: "宋体";
  color: #938f8e;
}

.reviews_con {
  padding: 10px 0 10px !important;
  font-size :14px;
  font-family: "宋体";
}

.comment_inner {
  padding: 15px 0
}

.reviews_box_title{
  font-size: 14px;
  color: #999999;
}
