// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.issuetitle {
  color: white;
  font-size: 30px;
}


.titlebg {
  font-size: 1em;
  height:55px;
}

.issue_content {
  height: 100%;
  width: 100%;
}
