// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.issuetitle {
  color: white;
  font-size: 2em;
}


.titlebg {
  background-color: green;
  font-size: 1em;
}
