@media only screen and (max-width: 414px) {
   .jumbotron p { font-size: 1.2em;}
   .posttitle { font-size: 1.2em;}
   p { font-size: 1.2em; }
}

.pagination {
  padding-left: 15px;
  padding-right: 15px;
}
