// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag1, #tag2, #tag3 {background-color:grey; color:white;margin-right:100px}

.issue_post_title {
  color: white;
  font-size: 20px;
}



// #tag2 {background-color: #AB2418; color:white;margin-right:100px}
// #tag3 {background-color: #AB2418; color:white;margin-right:100px}
// style="margin-right:100px
// style="margin-right:650px
// style="margin-right:1px"
