// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.issuetitle {
  color: white;
  font-size: 30px;
}


.panel-body h3 {
  margin: 0.15em 0;
}

.panel-body hr {
  margin: 0.50em 0;
}

.index-article-picture {
  margin: 3px 10px 0 0;
  border: 1px;
  width: 119px;
  height: 63px;
  float: left;
}

.issuetitle-mobile {
  color: black;
}

.issuetitle-mobile:active, .issuetitle-mobile:hover {
  color: black;
  text-decoration: none;
  background: #DCDCDC;
}



.issue-brief-controduction-mobile {
  color: black;
}

.issue-brief-controduction-mobile:active, .issue-brief-controduction-mobile:hover {
  color: black;
  text-decoration: none;
  background: #DCDCDC;
}



.container .jumbotron, .container-fluid .jumbotron {
   padding-left: 60px;
   background-color: #416941;
   color: wheat;
 }

// background-color: orange;
// (kevin add this for learn:this is a css class)
.panel-primary .panel-heading {
    color: #fff;
    background-color: green;
    border-color: #337ab7;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: rgba(165, 173, 142, 0.44);
}


.index_hot_image{
  // width: 25%!important;
  // float:left;
  // padding-left: 30px;
}


.index_tag{
// background-color: red;
padding-left: 20px;
}

.index_tag p{

}

.index_tag span{
  margin:0 55px 0 0;
}

.section_title {
  height: 37px;
  line-height: 37px;
  border-bottom: 3px #000 solid;
  padding: 0 5px;
}

.height_box {
  min-height: 373px;
}

.hot_posts {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.rmwz {
  margin-top: 10px;
  width: 100px;
  font-size: 24px;
}

.more {
  font-size: 24px;
  font-color: green;
  color: green;
  font-weight: bold;
}
