<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 GrowthHack中国
        <br>Design by
        <a href="http://growthhack.cn" target=_new>Growth</a>
    </p>
</footer>
