<footer style="margin-top: 60px;">
  <div class="row bg_footer">
    <div class="col-md-4 col-md-offset-2 text-center">
        <span style="font-size: 20px">~ 每天阅读,每天进步一点点 ~</span>
      <br><br>
        <img class="pic1" src="/images/bg_footer.png" alt="..."/><br>
      <i class="fa fa-envelope-o"></i> <a href="mailto:growthcng@gmail.com">growthcn@gmail.com</a>
      <br>
      Copyright ©2016 GrowthHack黑板报
    </div>

    <div class="col-md-4 text-center hidden-xs" style="font-size: 20px">
      ~扫一扫，关注Growhhack黑板报~<br><br>
      <img class="pic2" src="/images/growth.jpg" alt="..."/>
    </div>

  </div>

  <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 30717);
</script>

</footer>
